<html lang="en" ng-app="bingo" class="ng-scope">
<head>
  <title>{{app.title}}</title>
  <link href="/static/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="/static/stylesheets/style.css"> -->
</head>
<body>
  <div class="ng-view ng-scope">
  </div>
  <script type="text/javascript" src="/static/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/bower_components/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/bower_components/underscore/underscore-min.js"></script>
  <script src="/static/javascripts/app.js"></script>
  <script src="/static/javascripts/bingocontroller.js"></script>
</body>
</html>
